{% extends 'base.html' %}

{% block content %}
<br>
<div class='uk-card uk-card-default uk-width-1-2@m uk-position-center'>
    <div class="uk-card-header">
        <h3 class="uk-card-title">Sign Up</h3>
    </div>
    <div class="uk-card-body ">

        <form method="post">

            {% csrf_token %}
            {% include 'includes/uk_form.html' %}
            <br>
            <button class="uk-button" type="submit">Sign up</button>
        </form>
    </div>
</div>

{% endblock %}
{% block footer %}
{% endblock %}