<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "base_css.html" %}

    <title>{% block title %}ChalkTracks{% endblock %}</title>

    {% block navbar %}
    {% include "navbar.html" %}
    {% endblock %}

</head>

<body>
    {% block body %}
    <br>
    <div class=" uk-padding-large uk-container uk-container-small">
        {% block content %}
        <h1>Hello, world!</h1>
        {% endblock %}
    </div>
    {% endblock %}

    {% include 'base_js.html' %}

    {% block jquery %} {% endblock %}

</body>

<!-- footer -->
<footer>
    {% block footer %}
    {% endblock %}
</footer>

</html>