{% load static %}
<!-- <script src="{% static 'routes/js/font-awesome.js' %}"></script> -->

<link rel='stylesheet' href="{% static 'routes/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'routes/css/uikit.min.css' %}">
<script src="{% static 'routes/js/uikit-icons.min.js' %}" async></script>
<script src="{% static 'routes/js/uikit.min.js' %}" async></script>
<script src="{% static 'routes/js/free.min.js' %}" async></script>
<!-- <script src="https://kit.fontawesome.com/703bfaa67b.js" crossorigin="anonymous"></script> -->