{% load static %}
<!-- <script src="{% static 'routes/js/font-awesome.js' %}"></script> -->
<script src="{% static 'routes/js/fa.js' %}"></script>

<link rel='stylesheet' href="{% static 'routes/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'routes/css/uikit.min.css' %}">

<script src="{% static 'routes/js/uikit.min.js' %}" async></script>
<script src="{% static 'routes/js/uikit-icons.min.js' %}" async></script>

<link rel="apple-touch-icon" sizes="180x180" href='{% static "routes/favicon_io/apple-touch-icon.png"%}'>
<link rel="icon" type="image/png" sizes="32x32" href='{% static "routes/favicon_io/favicon-32x32.png"%}'>
<link rel="icon" type="image/png" sizes="16x16" href='{% static "routes/favicon_io/favicon-16x16.png"%}'>
<link rel="manifest" href='{% static "routes/favicon_io/site.webmanifest"%}'>