<div class="uk-position-bottom-center uk-position-small">
    <span id="year" class="uk-text-small uk-text-center"> © 2020 | <a href="https://github.com/adcarmichael/tracks"
            title="Visit source at GitHub" data-uk-tooltip>Created by
            Climbers for Climbers</a> | Built with <a href="http://getuikit.com" and title="Visit UIkit 3 site"
            target="_blank" data-uk-tooltip>

            <span data-uk-icon="uikit"></span>
        </a> and

        <a href="https://github.com/zzseba78/Kick-Off" and title="Visit Kick-Off GitHub site"
            data-uk-tooltip>Kick-Off</a>
    </span>
</div>