{% extends 'base.html' %}
{% load static %}

{% block title %}ChalkTracks{% endblock %}

{% block navbar %}
{% endblock %}
{% block body %}

<style>
    .wrap::before {
        position: absolute;
        height: 100vh;
        width: 100vw;
        content: '';
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .lead {
        font-size: 1.175em;
        font-weight: 300;
    }

    .uk-logo img {
        height: 28px;
    }
</style>

<body
    class="uk-light wrap uk-background-norepeat uk-background-cover uk-background-center-center uk-cover-container uk-background-secondary">
    <img data-src="{% static 'routes/images/black-and-white-photography.jpg' %}" alt="" data-uk-cover data-uk-img>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-height-viewport uk-position-z-index uk-position-relative"
        data-uk-height-viewport="min-height: 400">

        <!-- NAV -->
        {% include 'navbar.html' %}
        <!-- /NAV -->
        <!-- TEXT -->
        <div class="uk-container uk-container-small uk-flex-auto uk-text-center"
            data-uk-scrollspy="target: > .animate; cls: uk-animation-slide-bottom-small uk-invisible; delay: 300">
            <h1 class="uk-heading-primary animate uk-invisible" style="font-weight: 700;">Track Your Climbs</h1>
            <div class="uk-width-4-5@m uk-margin-auto animate uk-invisible">
                <p class="">Track the progress of your indoor climbs and find the next
                    grade.</p>
            </div>
            <h1>Hello Martin</h1>
            <div class="uk-margin-medium-top animate uk-invisible" data-uk-margin
                data-uk-scrollspy-class="uk-animation-fade uk-invisible">
                {% if user.is_authenticated %}
                <a href="\accounts\logout"
                    class="uk-button uk-button-default uk-button-large uk-width-2-3 uk-width-auto@s" id="logout"
                    title="Learn More">Logout</a>

                {% else %}
                <a href="\accounts\login"
                    class="uk-button uk-button-default uk-button-large uk-width-2-3 uk-width-auto@s"
                    data-uk-icon="arrow-right" id="login" title="Learn More">Login</a>
                <a href="\accounts\signup"
                    class="uk-button uk-button-primary uk-button-large uk-width-2-3 uk-width-auto@s"
                    data-uk-icon="check" id="sign-up" title="Learn More">Sign Up</a>
                {% endif %}
            </div>
        </div>

    </div>
    <!-- footer -->
    {% block footer %}
    {% include "footer.html" %}
    {% endblock %}

</body>
{% endblock %}