{% extends 'base.html' %}

{% block content %}
<h2 class="uk-heading-line uk-margin-top"><span>{{gym_name}} Route Sets</span></h2>
<p>Use this portal to manage the active routes. Active routes are decided by the up date and down date so be sure to
    keep them up to date. </p>

<a class="uk-button uk-button-default" href="/gyms/{{gym_id}}/routes/set/add/">Create a New Route Set</a>

<table class="uk-table uk-table-small">
    <caption>The below table lists all the Route Sets for the current Gym</caption>
    <thead>
        <tr>
            <th>Status</th>
            <th>Down</th>
            <th>Zone</th>
            <th>Manage</th>
        </tr>
    </thead>
    <tbody>

        {% for route_set_id,up_date,down_date,num_routes, zone, is_active in route_set_data reversed %}

        <tr>
            <td>{% if is_active %}<span class="uk-label uk-label-success">ACTIVE</span> {% else %}<span
                    class="uk-label uk-label-danger">CLOSED</span>
                {% endif %}</td>
            <td>{{down_date|timeuntil}}</td>

            <td>{{zone}}</td>
            <td><a class="uk-button-small uk-button uk-button-default" uk-toggle="target: #routes-{{route_set_id}}"
                    type="button">Manage
                </a></td>
        </tr>

        <div id="routes-{{route_set_id}}" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <h3 class=" uk-modal-title">Route Set #{{route_set_id}}</h3>
                <span class="uk-badge">{{num_routes}}</span>
                <p>{{up_date}} -> {{down_date}}</p>
                <a class="uk-button uk-button-default"
                    href="http://localhost/admin/routes/routeset/{{route_set_id}}/change">Edit Route Set</a>
                <a class="uk-button uk-button-default" href="/gyms/{{gym_id}}/routes/set/{{route_set_id}}/update/">Edit
                    Dates</a>


                <button class="uk-button uk-button-danger uk-margin-small-right" type="button"
                    uk-toggle="target: #modal-example">DELETE</button>
            </div>
        </div>

        <!-- This is the modal -->
        <div id="modal-example" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">Delete Route Set?</h2>

                <p class="uk-text-right">
                    <button class="uk-button uk-button-success uk-modal-close" type="button">No</button>
                    <a class="uk-button uk-button-danger"
                        href="{% url 'route_set_delete_page' gym_id=gym_id route_set_id=route_set_id %}"
                        type="button">Delete</a>
                </p>
            </div>
        </div>
        {% endfor %}
    </tbody>
</table>

{% block footer %}
{% endblock %}
{% endblock %}