{% extends "base.html" %}
{% block title %} Route Details {% endblock %}

{% block content %}
<br>
<h2 class="uk-heading-line"><span> Route Details for ID{{route_id}}</span></h2>
<br>
<table class="uk-table">
    <caption>Recent Climbs</caption>
    <thead>
        <tr>
            <th>Username</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for route in records %}
        <tr>

            <td>{{ route.username }}</td>
            <td>{{ route.date|timesince  }} ago</td>
            <td>
                {% if route.record_type == 1 %}
                <span class="uk-label uk-label-success">{{ route.record_type_name }}</span>
                {% elif route.record_type == 4 %}
                <span class="uk-label uk-label-primary">{{ route.record_type_name }}</span>
                {% elif route.record_type == 2 %}
                <span class="uk-label uk-label-danger">{{ route.record_type_name }}</span> {% else %}
                {{ route.record_type_name }}
                {% endif %}
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>


{% if user.is_authenticated %}
<ul uk-accordion>
    <li>
        <a class="uk-accordion-title" href="#">Delete Route Recordings </a>
        <div class="uk-accordion-content">
            <p>Use the below buttons to delete route recordings for {{user}}; noting that routes cannot be re-recorded
                retrospectively.</p>
            <a href={% url 'routes_record_for_user_delete' gym_id=gym_id route_id=route_id user_id=user_id %}
                class="uk-button uk-button-default uk-button-medium  title=" Learn More">Delete All</a>
            <a href={% url 'routes_record_for_user_delete_last_entry' gym_id=gym_id route_id=route_id user_id=user_id %}
                class="uk-button uk-button-default uk-button-medium " title="Learn More">Delete
                Last Entry</a>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#">Notify Gym of Fault </a>
        <div class="uk-accordion-content">
            <p>Notify the Gym of a fault with this route e.g. loose holds or missing starting numbers.</p>

            <a href='#' class="uk-button uk-button-default uk-button-medium ">Notify Gym (TBD)</a>
        </div>
    </li>
    <li class="uk-open">
        <a class="uk-accordion-title" href="#">Comments</a>
        <div class="uk-accordion-content">

        </div>
    </li>
</ul>
{% include 'components/comments.html' with url=request.get_full_path  %}

{% endif %}


{% endblock %}