{% extends 'base.html' %}
{% load static %}

{% load templatehelpers %}
{% block title %} Tracks {% endblock %}

{% block head_css_js %}
<script src="{% static 'routes/js/jquery-3.4.1.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
{% endblock %}


{% block footer_css_js %}

{% endblock %}


{% block content %}
<div class="uk-alert-warning" uk-alert>
    <p>This dashboard is still experimental..</p>
</div>

<h2 class="uk-heading-line"><span> {{username|title}}</span></h2>
<a href="{% url 'routes_for_user' user_id=user_id gym_id=1 %}"
    class="uk-button uk-button-default uk-button-medium  title=" Learn More">Go to Tracks for Eden Rock Edinburgh</a>
<br><br>


<div class='uk-card uk-card-default uk-width-1-2@m uk-card-hover'>
    <div class="uk-card-body">
        <canvas id="radar_chart" width="1" height="1" data-url="{% url 'chart_data' %}?user={{username}}"></canvas>
    </div>
    <div class="uk-card-footer">
        <p class="uk-text-small uk-text-muted">Grade completion between current and previous route sets.</p>
    </div>
</div>
{% endblock%}
{% block jquery %}
<script>
    $.ajax({
        method: "GET",

        url: $("#radar_chart").attr("data-url"),
        dataType: 'json',
        success: function (data) {
            var ctx = document.getElementById("radar_chart").getContext('2d');
            var chart = new Chart(ctx, data);
        },
        error: function (error_data) {
            console.log(url)
        }
    });
</script>
{% endblock%}