<div class="uk-position-top">
    <div class="uk-container uk-container-small">
        <nav class="uk-navbar-container uk-navbar-transparent" data-uk-navbar>
            <div class="uk-navbar-left">
                <div class="uk-navbar-item">
                    <!-- <a class="uk-logo" href=""><img src="img/cover-logo.svg" alt="Logo"> -->
                    <a class="uk-logo"> <span class='uk-text-muted uk-text-bold'>Chalk</span>Tracks</a>
                </div>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <!-- <li class="uk-active uk-visible@m"><a href="" data-uk-icon="home"></a></li> -->
                    {% if user.is_authenticated %}
                    <li>
                        <a href="#">Tracks</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class=""><a href="\1\routes">Eden Rock</a></li>
                                <li><a>More Gyms to Follow</a></li>
                            </ul>
                        </div>

                    </li>
                    {% endif %}

                    <li class="uk-visible@s"><a href="">About</a></li>

                    {% if user.is_authenticated %}
                    <li>
                        <a class="uk-navbar-toggle" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav"></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</div>

<div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: false">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
        <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
        <ul class="uk-nav uk-nav-default">
            <li class="uk-active"><a href="#">Active</a></li>
            <li class="uk-parent">
                <a href="#">Parent</a>
                <ul class="uk-nav-sub">
                    <li><a href="#">Sub item</a></li>
                    <li><a href="#">Sub item</a></li>
                </ul>
            </li>
            <li class="uk-nav-header">Header</li>
            <li><a href="#js-options"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: table"></span>
                    Item</a></li>
            <li><a href="#"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: thumbnails"></span>
                    Item</a></li>
            <li class="uk-nav-divider"></li>
            <li><a href="#"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: trash"></span> Item</a>
            </li>
        </ul>
        <h3>Title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div>