{% extends "base.html" %}
{% block title %} Routes {% endblock %}

{% block content %}



<!-- {% for col in black.get_route_id%}
    {{col}}
    {% endfor %} -->

{% for number, grade in black %}
<ul class="list-group">
    <a data-target='#_{{ forloop.counter0 }}_route_modal' data-toggle='modal'
        class="text-secondary list-group-item-dark list-group-item list-group-item-action">
        <div class="d-flex">
            <div class="mr-auto p-2"><i class="fas fa-2x fa-arrow-up fa-rotate-45"></i></div>
            <div class="p-2">{{number}}</div>
            <div class="p-2">3 days ago</div>
            <span class=" badge badge-primary badge-pill">2</span>
        </div>
    </a>
</ul>
<div class="modal fade" id="_{{ forloop.counter0 }}_route_modal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{forloop.counter0}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button href='routes\record' type="button" class="btn btn-primary">Record Climb</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}


<!-- Modal -->
<div class="modal fade" id="route_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Record Climb</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}